.page, .light_page {
  position: relative;
}

.page {
  background-color: #111111;
  color: #fefefe;
}

.light_page {
  background-color: #fefefe;
  color: #111111;
}

.change_mode_btn {
  position: fixed;
  top: 20px;
  right: 20px;
}

.main {
  &__section {
    width: 100vw;
    height: 100vh;

    &__content {   
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      gap: 100px;
      max-width: 1000px;
      margin: auto;
      position: relative;

      /* first section */
      &__title {
        font-family: var(--f-geist-sans);
        font-size: 40px;
        line-height: 40px;
      }
  
      &__subtitle {
        font-size: 20px;
        font-family: var(--f-geist-mono);
        color: #d5c8ef;
      }
  
      &__logos {
        margin-top: 20px;
        display: flex;
        gap: 5px;
        
        &__img {
          width: 35px;
          height: 35px;
          object-fit: cover;
          border-radius: 100%;
        }
      }

      /* fourd section */
      &__top {
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed #fefefe;

        & p {
          width: 65px;
          height: 65px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #f9fe05;
          border-radius: 100%;
          font-size: 18px;
          font-family: var(--f-geist-sans);
        }
      }

      &__certifications {

        & h3 {
          font-family: var(--f-geist-sans);
          text-align: center;
          font-size: 40px;
          margin-bottom: 40px;
        }

        &__images {
          display: flex;
          gap: 10px;
    
          &__img {
            width: 300px;
            height: 250px;
            object-fit: contain;
          }
        }
        
      }
    }

    /* second section */

    &__container {
      display: flex;
      flex-direction: row-reverse;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    
      &__is_reverse {
        flex-direction: row;
      }
    
      &__video {
        width: 600px;
        height: 400px;
      }
    
      &__info {
        min-height: 350px;
        width: 450px;
        padding: 30px;
    
        & a {
          font-family: var(--f-geist-sans);
          font-size: 40px;
          display: flex;
          align-items: center;
          gap: 10px;
          transition: 0.2s;
          margin-bottom: 10px;
    
          &:hover {
            color: #d5c8ef;
          }
        }
    
        & p {
          padding: 0 30px;
          font-size: 16px;
          font-family: var(--f-geist-mono);
          color: #d5c8ef;
          margin-bottom: 10px;
    
        }
    
        &__logos {
          margin: 10px 0 0 30px;
          display: flex;
          gap: 5px;
          
          &__img {
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 100%;
          }
        }
      }
    }
  }    
}